header{
    nav{
        ul{
            display: flex;
            gap: 20px;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    
                }
            }
            }
        }
    }
.block1 h1{
    color: red;
}